<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <!--  выше здесь мы делаем волшебную строку из интернета
     docs.spring.io .... дописываем дополнительное пространство имен
         в beans...
         xmlns:context="http://www.springframework.org/schema/context"
         в  xsi:schemaLocation
         http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
       -->

<!--    в атрибуте base-package спринг будет искать бины в
нашей конфигурации, указываем расположение нашего файла конфигурации -->
<!--    <context:component-scan base-package="spring.javaconfig"/>-->
<!--   вариант с аннотациями так же надо сканнировать через xml файл, если мы выбрали вариант через xml-->
<!--    <context:component-scan base-package="spring.annotation"/>-->

</beans>